.footer {
	background: #388067;
	padding: 0 40px 55px;

	.footer-content {
		max-width: 1440px;
		margin: 0 auto;
	}

	.logo img {
		max-height: 45px;
	}

	.footer-links {
		padding: 65px 0 50px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #fff;

		.footer-menu {
			display: flex;
			margin-top: 14px;
			width: calc(100% - 275px);

			justify-content: space-between;

			ul {
				padding: 0;
				list-style: none;
			}
		}

		h5 {
			&:after {
				@extend .svg-arrow-right-white;
			}

			a {
				display: inline-block;
				margin-bottom: 25px;
				position: relative;

				color: #fff;
				font-style: normal;
				font-weight: bold;
				font-size: 14.5px;
				line-height: 17px;
				letter-spacing: 0.2em;
				text-decoration: none;
				text-transform: uppercase;

				transition: all 0.2s ease-in-out;


				&:after {
					background: #fff;
					border-radius: 2px;
					content: '';

					bottom: -10px;
					height: 2px;
					display: block;
					position: absolute;
					width: calc(100% - 2px);

					transform-origin: 100% 50%;
					transform: scaleX(0);
					transition: transform .2s ease;
				}

				&:hover {
					&:after {
						transform: scaleX(1);
						transform-origin: 0 50%;
					}
				}
			}
		}

		li > a {
			opacity: 0.6;

			color: #fff;
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 22px;
			text-decoration: none;

			transition: all 0.2s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}

	.links {
		display: flex;

		& > li:first-child {
			width: 25%;
		}

		& > li {
			width: 50%;

			text-align: center;
		}

		& > li:last-child {
			width: 25%;

			text-align: right;
		}
	}

	.social-links {
		display: flex;
		justify-content: flex-end;
		position: relative;
		margin-top: 35px;

		li {
			margin: 0 11.5px;

			&:last-child {
				margin-right: 0;
			}

			a {
				display: block;
				width: 47px;
				height: 47px;

				transition: background-image 0.2s ease-in-out;
			}
		}

		.twitter {
			@extend .svg-twitter;

			&:hover {
				@extend .svg-twitter-white;
			}
		}

		.linkedin {
			@extend .svg-linkedin;

			&:hover {
				@extend .svg-linkedin-white;
			}
		}

		.facebook {
			@extend .svg-facebook;

			&:hover {
				@extend .svg-facebook-white;
			}
		}

		.youtube {
			@extend .svg-youtube;

			&:hover {
				@extend .svg-youtube-white;
			}
		}
	}

	.footer-submenu {
		.menu {
			display: flex;
			justify-content: center;
			padding: 0;
			margin-top: 50px;

			li {
				margin: 0 23.5px;
			}

			a {
				display: inline-block;
				position: relative;

				color: #fff;
				font-style: normal;
				font-weight: 600;
				font-size: 13px;
				line-height: 15px;
				text-decoration: none;

				transition: all 0.2s ease-in-out;

				&:after {
					content: '';
					display: block;
					background: #fff;
					border-radius: 2px;
					width: 100%;

					position: absolute;
					height: 2px;
					bottom: -5px;
					transform-origin: 100% 50%;
					transform: scaleX(0);
					transition: transform .2s ease;
				}

				&:hover {
					&:after {
						transform: scaleX(1);
						transform-origin: 0 50%;
					}
				}
			}
		}
	}

	.copyright {
		max-width: 620px;
		margin: 45px auto 28px;

		color: #fff;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 15px;
		text-align: center;
	}

	.additional-links {
		display: flex;
		justify-content: center;

		li {
			padding: 0 11px;

			a {
				display: inline-block;
				position: relative;

				color: #fff;
				font-style: normal;
				font-weight: 600;
				font-size: 10px;
				line-height: 12px;
				text-align: center;
				text-decoration: none;

				transition: all 0.2s ease-in-out;

				&:after {
					content: '';
					display: block;
					background: #fff;
					border-radius: 2px;
					width: 100%;

					position: absolute;
					height: 2px;
					bottom: -5px;
					transform-origin: 100% 50%;
					transform: scaleX(0);
					transition: transform .2s ease;
				}

				&:hover {
					&:after {
						transform: scaleX(1);
						transform-origin: 0 50%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1079px) {
	.footer {
		padding: 0 32px 25px;

		.logo {
			text-align: center;
		}

		.footer-links {
			border-bottom: 0 none;
			padding: 45px 0 0;

			flex-direction: column;

			.footer-menu {
				margin-top: 30px;
				width: auto;

				flex-direction: column;

				& > li {
					border-bottom: 1px solid #E7E7E7;

					ul {
						display: none;
						padding-left: 20px;
					}

					&.opened {
						h5:after {
							transform: rotate(-90deg) scale(0.5);
						}

						ul {
							display: block;
						}
					}
				}

				li {
					margin-bottom: 20px;

					& > a {
						font-size: 14.5px;
						line-height: 17px;
						letter-spacing: 0.2em;
						opacity: 1;
					}
				}

				h5 {
					position: relative;

					&:after {
						content: '';
						display: block;
						height: 48px;
						position: absolute;
						right: 0;
						top: -50%;
						width: 48px;
						margin-right: -12px;
						margin-top: 6px;
						z-index: 0;

						transform: rotate(90deg) scale(0.5);
					}

					a,
					a:hover,
					a:focus,
					a:active {
						padding-bottom: 20px;
						margin: 0;
						display: block;
						position: relative;
						z-index: 1;

						color: #fff;

						&:after {
							display: none;
						}
					}
				}
			}
		}

		.links {
			flex-direction: column;

			& > li,
			& > li:last-child {
				width: auto;
			}

			.menu {
				margin-top: 27px;

				li {
					margin: 0 16.5px;
				}
			}

			.social-links {
				margin-top: 45px;

				justify-content: center;

				li:last-child {
					margin: 0 11.5px;
					text-align: center;
				}
			}
		}

		.copyright {
			margin-bottom: 45px;

			font-size: 11px;
			line-height: 16px;
		}

		.additional-links {
			margin: 0 -30px;

			li {
				padding: 0 12.5px;

				a {
					font-size: 11px;
					line-height: 13px;
				}
			}
		}
	}
}