.header {
	border-bottom: 1px solid #E7E7E7;


	.header-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		max-width: 1440px;
		margin: 0 auto;
		padding: 0 40px;
		max-height: 108px;
		position: relative;

	}

	.logo {
		margin: 23px 0 24px;
	}

	.logo img {
		max-height: 54px;
	}
}


.navigations {
	display: flex;
	width: 997px;
	margin-left: 17.5px;
}

.mega-nav {
	max-height: 108px;
	width: 52.6579%;

	.menu {
		height: 100%;

		display: flex;

		list-style: none;
		justify-content: space-between;

		& > li:hover {
			.sub-menu {
				display: flex;
			}
		}

		a {
			height: 100%;
			display: block;
			position: relative;

			color: #000;
			font-style: normal;
			font-weight: bold;
			font-size: 14.5px;
			line-height: 17px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			text-decoration: none;

			span {
				display: block;
				position: relative;
				top: 41px;

				&:after {
					border: 1px solid #388067;
					border-radius: 2px;
					content: '';

					bottom: -10px;
					display: block;
					position: absolute;
					width: 100%;

					transform-origin: 100% 50%;
					transform: scaleX(0);
					transition: transform .2s ease;
				}
			}

			&:hover {
				span:after {
					transform: scaleX(1);
					transform-origin: 0 50%;
				}
			}
		}
	}

	.sub-menu {
		background: #fff;

		display: none;
		flex-direction: column;
		padding: 25px 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		margin-top: 1px;
		z-index: 99;
		
		line-height: 16px;

		& > li {
			a {
				color: #000000;
				font-style: normal;
				font-weight: bold;
				font-size: 14.5px;
				line-height: 38px;
				letter-spacing: 0.05em;
				text-transform: none;
				text-decoration: none;

				transition: color 0.2s ease-in-out;

				&:hover {
					color: #388067;
				}
			}
		}
	}
}

.actions-nav {
	display: flex;
	flex-direction: row;
	// width: 14.4212%;
	width: 18.7562%;
	justify-content: space-evenly;

	.action-login,
	.action-search {
		margin: 27px 0 0;

		width: 41px;
		height: 41px;

		transition: all 0.2s ease-in-out;
	}

	.action-search {
		background: transparent url('../images/search-icon.svg') no-repeat center center / 41px 41px;

		&:hover,
		&.active {
			background: transparent url('../images/search-icon-hover.svg') no-repeat center center / 41px 41px;
		}
	}
	
	.action-login {
		background: transparent url('../images/user.svg') no-repeat center center / 41px 41px;

		&:hover,
		&.active {
			background: transparent url('../images/user-hover.svg') no-repeat center center / 41px 41px;
		}
	}

	form.search {
		background: #fff;

		display: none;

		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		margin-top: 1px;
		padding: 45px 0;
		z-index: 99;

		&.show {
			display: block;
		}

		.form-content {
			margin: 0 auto;
			width: 83%;
			position: relative;

			.search-types {
				display: none;
				background: #fff;
				border: 2px solid #e7e7e7;
				box-sizing: border-box;
				box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
				border-radius: 3px;
				position: absolute;
				left: 0;
				right: 0;
				top: 100%;
				margin-top: -2px;
				padding: 10px 0;

				&.show {
					display: block;
				}

				input[type=radio] {
					display: none;
				}

				li label {
					display: block;
					padding: 16px 16px 16px 59px;

					color: #000;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 18px;

					transition: all 0.2s ease-in-out;

					&:hover {
						background-color: #f1f1f1;
						cursor: pointer;
					}
				}

				.all label {
					background: transparent url('../images/search-type-all.svg') no-repeat 20px center / 24px 24px;
				}

				.insights label {
					background: transparent url('../images/search-type-insights.svg') no-repeat 20px center / 24px 24px;
				}

				.strategies label {
					background: transparent url('../images/search-type-strategies.svg') no-repeat 20px center / 24px 24px;
				}

				.people label {
					background: transparent url('../images/search-type-people.svg') no-repeat 20px center / 24px 24px;
				}
			}

			input[type=text] {
				border: 2px solid #e7e7e7;
				border-radius: 3px;

				width: 100%;
				padding: 11px 20px 11px 70px;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 28px;

				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
					opacity: 1; /* Firefox */

					color: #000;
					font-family: Raleway, sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 28px;
				}

				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					color: #000;
					font-family: Raleway, sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 28px;
				}

				&::-ms-input-placeholder { /* Microsoft Edge */
					color: #000;
					font-family: Raleway, sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 28px;
				}
			}

			.search-types-toggle {

				width: 24px;
				height: 24px;
				position: absolute;
				left: 20px;
				top: 50%;
				transform: translateY(-50%);

				cursor: pointer;

				&:after {
					background: transparent url('../images/chevron.svg') no-repeat center center / 24px 24px;
					content: '';

					position: absolute;
					left: 24px;
					top: 50%;
					transform: translateY(-50%);
					height: 24px;
					width: 24px;
				}

				&.all {
					background: transparent url('../images/search-type-all.svg') no-repeat center center / 24px 24px;
				}

				&.insights {
					background: transparent url('../images/search-type-insights.svg') no-repeat center center / 24px 24px;
				}

				&.strategies {
					background: transparent url('../images/search-type-strategies.svg') no-repeat center center / 24px 24px;
				}

				&.people {
					background: transparent url('../images/search-type-people.svg') no-repeat center center / 24px 24px;
				}
			}

			.do-search {
				background: #fff url('../images/search.svg') no-repeat center center / 26px 26px;
				border: 0 none;

				height: 26px;
				width: 26px;
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);

				cursor: pointer;
				transition: background 0.2s ease-in-out;

				&:hover {
					background: transparent url('../images/search-blue.svg') no-repeat center center / 26px 26px;
				}
			}

			.close {
				background: transparent url('../images/close.svg') no-repeat center center / 30px 30px;

				height: 30px;
				width: 30px;
				position: absolute;
				right: -62px;
				top: 50%;
				transform: translateY(-50%);

				cursor: pointer;
				transition: background 0.2s ease-in-out;

				&:hover {
					background: transparent url('../images/close-blue.svg') no-repeat center center / 30px 30px;
				}
			}
		}
	}
}

.sub-nav {
	max-height: 100%;
	width: 28.5857%;

	.menu {
		display: flex;
		justify-content: space-between;
		height: 100%;

		list-style: none;

		& > li {

			& > a {
				display: block;
				height: 100%;
				position: relative;

				color: #000000;
				font-style: normal;
				font-weight: bold;
				font-size: 13px;
				line-height: 15px;
				text-decoration: none;

				span {
					display: block;
					position: relative;
					top: 41px;

					&:after {
						content: '';
						display: block;
						border: 1px solid #388067;
						border-radius: 2px;
						width: 100%;

						position: absolute;
						bottom: -10px;
						transform-origin: 100% 50%;
						transform: scaleX(0);
						transition: transform .2s ease;
					}
				}
			}
		}

		& > li:hover {
			.sub-menu {
				display: flex;
			}

			& > a span:after {
				transform: scaleX(1);
				transform-origin: 0 50%;
			}
		}
	}

	.sub-menu {
		background: #fff;

		display: none;
		min-height: 189px;
		padding: 25px 20px;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin-top: 1px;
		z-index: 99;
		
		line-height: 16px;
		justify-content: flex-end;

		& > li {
			padding: 0 20px;

			a {
				color: #000000;
				font-style: normal;
				font-weight: bold;
				font-size: 11px;
				line-height: 29px;
				letter-spacing: 0.05em;
				text-transform: capitalize;
				text-decoration: none;

				transition: all 0.2s ease-in-out;

				&:hover {
					color: #388067;
				}
			}
		}

		& > li:last-child {
			border-left: 1px solid #E7E7E7;
		}

		h5 {
			opacity: 0.25;

			color: #000000;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 32px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
		}
	}
}

