@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(60px);
        -ms-transform: translateY(60px);
        transform:translateY(60px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform:translateY(0)
    }
}

body {
	font-family: Raleway, sans-serif;
}

.link-underline {
	display: inline-block;

	color: #000;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
	text-transform: uppercase;
	text-decoration: none;


	&:after {
		background: linear-gradient(90deg, #388067 calc(100%/3), transparent 0 calc(200%/3), #388067 0) var(--d, 0%) 100% / 300% 3px no-repeat;
		border-radius: 2px;

		content: '';
		display: block;
		height: 2px;
		margin-top: 5px;

		transition: 0.5s;
	}

	&:hover:after {
		--d: 100%;
	}
}

.hero-slides {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1440px;

	&.owl-carousel {
		.owl-item {
			display: flex;
			flex-direction: column;
			position: relative;
			padding: 75px;
			min-height: 550px;

			text-align: center;
			overflow: hidden;

			justify-content: center;
		}

		.owl-dots {
			display: flex;
			flex-direction: row-reverse;
			position: absolute;
			left: 40px;

			transform: rotate(-90deg) translate(100%,50%);
			transform-origin: center left;
		}

		.owl-dot {
			@extend .svg-ellipse;

			height: 24px;
			margin: 0 7.5px;
			width: 24px;

			color: #fff;
			font-style: normal;
			font-weight: bold;
			font-size: 0;
			line-height: 24px;

			transition: background-image 0.2s ease-in-out;

			&:hover {
				@extend .svg-ellipse-empty;
			}

			&.active {
				@extend .svg-ellipse-selected;

				font-size: 10px;
				padding-left: 38px;
				min-width: 24px;
				width: auto;
			}
		}
	}


	.img-wrapper {
		img,
		video {
			position: absolute;
			top: 50%;
			left: 50%;
			right: 0;
			bottom: 0;
			z-index: -1;
			min-width: 100%;
			min-height: 100%;
			display: block;

			transform: translate(-50%,-50%);
		}

		&:after {
			background: #000;

			content: '';
			opacity: 0.3;
			
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	h1 {
		position: relative;
		max-width: 775px;
		margin: 0 auto 45px;

		color: #fff;
		font-family: "orpheuspro",serif;
		font-style: normal;
		font-weight: normal;
		font-size: 60px;
		line-height: 59px;
		text-align: center;

		.animate-rows {
			display: inline-block;
		}

		.row-1 {
			animation: 1000ms ease 0ms 1 normal both running fadeInUp;
		}

		.row-2 {
			animation: 1000ms ease 200ms 1 normal both running fadeInUp;
		}

		.row-3 {
			animation: 1000ms ease 400ms 1 normal both running fadeInUp;
		}

		.row-4 {
			animation: 1000ms ease 600ms 1 normal both running fadeInUp;
		}

		.row-5 {
			animation: 1000ms ease 800ms 1 normal both running fadeInUp;
		}
	}

	i {
		font-style: italic;
	}

	button {
		position: relative;
	}
}

.home-info {
	display: flex;
	margin: 0 auto -30px;
	max-width: 1180px;
	position: relative;

	align-items: center;
	justify-content: space-between;

	.content {
		max-width: 430px;
		width: 100%;

		h2 {
			margin-bottom: 30px;

			color: #000;
			font-style: normal;
			font-weight: bold;
			font-size: 28px;
			line-height: 1.2em;
		}

		p {
			margin-bottom: 25px;

			color: #000;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 28px;
		}
	}


	.tiles {
		margin-top: 75px;

		display: flex;
		flex-wrap: wrap;
		text-align: center;

		li {
			border-radius: 3px;

			overflow: hidden;
			height: 300px;
			margin: 0 32.5px;
			position: relative;
			width: 300px;

			visibility: hidden;
			opacity: 0;
			transform: matrix(1, 0, 0, 1, 0, 450);
			transition: opacity 2s ease-in-out, transform 2s ease-in-out;

			&:nth-child(2n) {
				margin-top: 75px;
			}

			&.show {
				visibility: visible;
				transform: matrix(1, 0, 0, 1, 0, 0);
				opacity: 1;
			}
		}

		img {
			border-radius: 3px;
			position: absolute;
			top: 0;
			left: 0;
			height: 300px;
			width: 300px;
			z-index: 0;
		}

		h3 {
			max-width: 260px;
			margin: 0 auto 25px;
			position: relative;

			color: #fff;
			font-style: normal;
			font-weight: bold;
			font-size: 28px;
			line-height: 28px;
			text-align: center;

			transition: margin 1s;
		}

		.tile-content {
			position: relative;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			top: 247px;
			z-index: 2;

			transition: top 1s;

			&:before {
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 87.5%);
				content: '';
				display: block;
				position: absolute;
				height: 100%;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
			}

			a {
				text-decoration: none;
			}

			p {
				width: 260px;
				margin: 0 auto 10px;

				color: #fff;
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
			}

			span.link-underline {
				margin-bottom: 10px;

				color: #fff;
			}
		}

	}
}

.hero-slides-wrapper {
	position: relative;

	.social-links-wrapper {
		position: absolute;
		// right: -67px;
		right: 40px;
		top: 50%;

		transform: translateY(-50%);
		z-index: 1;

		span {
			display: block;
			transform: rotate(90deg);

			color: #fff;
			font-style: normal;
			font-weight: bold;
			font-size: 10px;
			line-height: 10px;
		}
	}

	.social-links {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		position: relative;
		margin-top: 25px;

		li {
			margin: 5px;

			&:last-child {
				margin-right: 0;
			}

			a {
				display: block;
				width: 47px;
				height: 47px;
			}
		}

		.twitter {
			@extend .svg-twitter;
			transition: background-image 0.2s ease-in-out;

			&:hover {
				@extend .svg-twitter-white;
			}
		}

		.linkedin {
			@extend .svg-linkedin;
			transition: background-image 0.2s ease-in-out;

			&:hover {
				@extend .svg-linkedin-white;
			}
		}

		.facebook {
			@extend .svg-facebook;
			transition: background-image 0.2s ease-in-out;

			&:hover {
				@extend .svg-facebook-white;
			}
		}

		.youtube {
			@extend .svg-youtube;
			transition: background-image 0.2s ease-in-out;

			&:hover {
				@extend .svg-youtube-white;
			}
		}
	}
}

.insights-wrapper {
	background: #0C2F4B;

	.content {
		max-width: 1255px;
		margin: 0 auto;
		padding: 60px 32px;
	}

	h2 {
		margin-bottom: 55px;

		color: #fff;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 28px;
		text-align: center;
	}

	.insights-list {
		.owl-item {
			// max-width: 264px;
			max-width: 344px;
			margin: 0 26.5px;
		}

		.owl-stage-outer {
			padding-top: 10px;
		}

		.owl-nav .owl-prev,
		.owl-nav .owl-next {
			height: 48px;
			position: absolute;
			top: 88px;
			width: 48px;

			font-size: 0;

			transition: background-image 0.2s ease-in-out;
		}

		.owl-nav .owl-prev {
			@extend .svg-arrow-left;

			left: -48px;

			&:hover {
				@extend .svg-arrow-left-hover;
			}
		}

		.owl-nav .owl-next {
			@extend .svg-arrow-right;

			right: -48px;

			&:hover {
				@extend .svg-arrow-right-hover;
			}
		}

		.owl-dots {
			display: none;
		}
	}

	.title-link {
		margin-bottom: 15px;
		text-underline-offset: 5px;

		line-height: 32px !important;

		&:hover {
			text-decoration: underline;
		}
	}

	.img-wrapper {
		// max-width: 264px;
		max-width: 344px;
		margin-bottom: 25px;
		position: relative;

		transition: all .3s ease-in-out;

		img {
			border-radius: 3px;
		}

		&:hover {
			// box-shadow: 0 3px 12px 0 rgba(55,54,86,.35);
			transform: translateY(-2%);

			.article {
				@extend .svg-insights-article-hover;
			}

			.video {
				@extend .svg-insights-video-hover;
			}

			.audio {
				@extend .svg-insights-audio-hover;
			}
		}
	}

	.insight-type {
		display: inline-block;
		width: 38px;
		height: 38px;
		position: absolute;
		right: 11px;
		top: 11px;
		transition: background-image 0.2s ease-in-out;
	}

	.article {
		@extend .svg-insights-article;
	}

	.video {
		@extend .svg-insights-video;
	}

	.audio {
		@extend .svg-insights-audio;
	}

	.button-wrapper {
		margin-top: 95px;

		text-align: center;
	}

	.insights-type {
		color: #388067;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 25px;
		letter-spacing: 0.165em;
		text-transform: uppercase;
	}

	.date {
		margin-bottom: 10px;

		color: #fff;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 25px;
		letter-spacing: 0.165em;
		text-transform: uppercase;
	}

	.title-link {
		display: block;

		color: #fff;
		font-style: normal;
		font-weight: 600;
		font-size: 22px;
		line-height: 27px;
		text-decoration: none;
	}

	a.read-more {
		display: inline-block;
		margin: 0;

		color: #fff;
	}

	.btn-wrapper {
		margin-bottom: 15px;
	}
}

.press-wrapper {
	.content {
		display: flex;
		margin: 0 auto;
		padding: 55px 0 90px;
		// max-width: 1180px;
		max-width: 1345px;

		.title {
			display: flex;
			margin-bottom: 45px;

			align-items: center;

			.separator {
				border-top: 1px solid #aaa;

				margin: 0 35px;
				width: 100%;
			}
		}

		h2 {
			color: #313131;
			font-style: normal;
			font-weight: bold;
			font-size: 28px;
			line-height: 28px;
		}

		.view-all {
			padding-right: 42px;
			min-height: 18px;
			min-width: 110px;
			position: relative;

			line-height: 25px;

			&:before {
				@extend .svg-view-all-green;
				@extend .svg-view-all-green-dims;

				content: '';
				display: inline-block;
				position: absolute;
				right: 0;

				transition: background-image 0.2s ease-in-out;
			}

			&:hover {
				&:before {
					@extend .svg-view-all-blue;
				}
			}
		}
	}

	.tweet-content {
		background: #f1f1f1;
		border-radius: 3px;

		// max-width: 393px;
		max-width: 450px;
		width: 100%;
		padding: 35px 16px 35px 32px;

		.timeline-Widget {
			background: #f1f1f1;
		}

		.title {
			margin-bottom: 42px;

			.separator {
				margin: 0 15px 0 25px;
			}
		}

		.scrollable-content {
			max-height: 659px;
			overflow: auto;
		}
	}
}

.article-content {
	width: 100%;
	padding-top: 35px;
	padding-right: 20px;

	.articles {
		display: flex;
		justify-content: space-between;
	}

	.date {
		margin-bottom: 15px;

		color: #979797;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 25px;
		letter-spacing: 0.165em;
		text-transform: uppercase;
	}

	.article {
		// max-width: 250px;
		max-width: 285px;

		h5 {
			a {
				margin-bottom: 10px;
				display: inline-block;

				color: #000;
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 30px;
				text-decoration: none;

				&:hover {
					color: #388067;
				}
			}
		}

		a {
			margin-bottom: 40px;
		}


		&.main {
			// max-width: 448px;
			max-width: 510px;

			img {
				max-width: 100%;
				margin-bottom: 30px;
			}

			h5 {
				margin-bottom: 20px;

				font-size: 44px;
				line-height: 47px;
			}

			p {
				margin-bottom: 10px;

				color: #000;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 28px;
			}
		}
	}
}

.btn-wrap {
	background: #fff;
	border-radius: 3px;

	display: inline-block;
	position: relative;
	z-index: 1;
}

a.btn.primary {
	border: 0 none;
	border-radius: 3px;
	cursor: pointer;

	display: block;
	min-width: 184px;
	padding: 22px 47px;
	position: relative;;

	color: #388067;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	transition: all .2s ease-in-out;

	&:before {
	    background: #388067;
		border-radius: 3px;
	    content: '';

		width: 0%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    position: absolute;
	    z-index: -1;

	    transition: all 0.3s;
	}

	&:hover {
		// background: #388067;
		color: #fff;

		&:before {
			width: 100%;
		}
	}
}

.twitter-timeline {
	width: 374px !important;
}


@media screen and (max-width: 1279px) {
	.press-wrapper,
	.insights-wrapper {
		display: none;
	}

	.link-underline {
		font-size: 13px;
		line-height: 14px;
	}

	.hero-wrapper {
		.owl-carousel {
			.owl-item {
				padding: 115px 15px;
			}
		}

		.img-wrapper {
			img, 
			video {
				width: auto;
				height: 100%;
			}
		}

		h1 {
			font-size: 42px;
			line-height: 42px;

			.animate-rows {
				display: inline;
			}
		}

		.social-links-wrapper {
			display: none;
		}
	}

	.home-info {
		flex-direction: column;
		padding: 50px 15px;

		.content {
			text-align: center;

			h2 {
				font-size: 22px;
				line-height: 28px;
			}

			p {
				padding: 0 20px;

				font-size: 16px;
				line-height: 20px;
			}
		}

		.tiles {
			margin: 55px -7.5px 0;
			width: 100%;

			& > li {
				height: auto;
				margin: 7.5px !important;
				padding-top: calc(50% - 15px);
				width: calc(50% - 15px);

				img {
					width: 100%;
					height: 100%;
				}

				.tile-content {
					position: absolute;

					&:before {
						background: linear-gradient(180.12deg, rgba(0, 0, 0, 0) -27.43%, #000000 99.89%);
					}

					h3 {
						max-width: 90%;
						margin: 0 auto 10px;

						font-size: 16px;
						line-height: 28px;
					}

					p {
						max-width: 90%;
						width: auto;

						font-size: 12px;
						line-height: 16px;
					}

					.link-underline {
						font-size: 13px;
						line-height: 14px;
					}
				}

			}
		}
	}
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}