%svg-common {
	background: url("svg/sprite.css-ddad1de1.svg") no-repeat;
}

.svg-archived-memo {
	@extend %svg-common;
	background-position: 15.09433962264151% 100%;
}

.svg-archived-memo-dims {
	width: 24px;
	height: 24px;
}

.svg-archived-memo-blue {
	@extend %svg-common;
	background-position: 100% 40.4040404040404%;
}

.svg-archived-memo-blue-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-down {
	@extend %svg-common;
	background-position: 76.38036809815951% 61.63934426229508%;
}

.svg-arrow-down-dims {
	width: 16px;
	height: 16px;
}

.svg-arrow-down-blue {
	@extend %svg-common;
	background-position: 44.44444444444444% 47.524752475247524%;
}

.svg-arrow-down-blue-dims {
	width: 18px;
	height: 18px;
}

.svg-arrow-down-green {
	@extend %svg-common;
	background-position: 30.246913580246915% 31.023102310231025%;
}

.svg-arrow-down-green-dims {
	width: 18px;
	height: 18px;
}

.svg-arrow-down-light-green {
	@extend %svg-common;
	background-position: 72.53086419753086% 77.55775577557756%;
}

.svg-arrow-down-light-green-dims {
	width: 18px;
	height: 18px;
}

.svg-arrow-left-black {
	@extend %svg-common;
	background-position: 59.863945578231295% 0;
}

.svg-arrow-left-black-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-left-green {
	@extend %svg-common;
	background-position: 17.006802721088434% 23.44322344322344%;
}

.svg-arrow-left-green-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-left-white {
	@extend %svg-common;
	background-position: 43.53741496598639% 0;
}

.svg-arrow-left-white-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-black {
	@extend %svg-common;
	background-position: 43.53741496598639% 17.582417582417584%;
}

.svg-arrow-right-black-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-green {
	@extend %svg-common;
	background-position: 0 41.75824175824176%;
}

.svg-arrow-right-green-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-light-green {
	@extend %svg-common;
	background-position: 16.3265306122449% 41.75824175824176%;
}

.svg-arrow-right-light-green-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-white {
	@extend %svg-common;
	background-position: 32.6530612244898% 41.75824175824176%;
}

.svg-arrow-right-white-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-up {
	@extend %svg-common;
	background-position: 92.33128834355828% 73.11475409836065%;
}

.svg-arrow-up-dims {
	width: 16px;
	height: 16px;
}

.svg-burger {
	@extend %svg-common;
	background-position: 70.66246056782335% 61.63934426229508%;
}

.svg-burger-dims {
	width: 25px;
	height: 16px;
}

.svg-checkbox {
	@extend %svg-common;
	background-position: 60.869565217391305% 47.17607973421927%;
}

.svg-checkbox-dims {
	width: 20px;
	height: 20px;
}

.svg-checkbox-checked {
	@extend %svg-common;
	background-position: 54.6583850931677% 47.17607973421927%;
}

.svg-checkbox-checked-dims {
	width: 20px;
	height: 20px;
}

.svg-chevron {
	@extend %svg-common;
	background-position: 100% 48.484848484848484%;
}

.svg-chevron-dims {
	width: 24px;
	height: 24px;
}

.svg-chevron-green {
	@extend %svg-common;
	background-position: 100% 16.161616161616163%;
}

.svg-chevron-green-dims {
	width: 24px;
	height: 24px;
}

.svg-close {
	@extend %svg-common;
	background-position: 31.41025641025641% 21.993127147766323%;
}

.svg-close-dims {
	width: 30px;
	height: 30px;
}

.svg-close-black {
	@extend %svg-common;
	background-position: 46.15384615384615% 39.175257731958766%;
}

.svg-close-black-dims {
	width: 30px;
	height: 30px;
}

.svg-close-blue {
	@extend %svg-common;
	background-position: 86.85897435897436% 76.63230240549828%;
}

.svg-close-blue-dims {
	width: 30px;
	height: 30px;
}

.svg-download {
	@extend %svg-common;
	background-position: 100% 56.56565656565657%;
}

.svg-download-dims {
	width: 24px;
	height: 24px;
}

.svg-download-blue {
	@extend %svg-common;
	background-position: 100% 24.242424242424242%;
}

.svg-download-blue-dims {
	width: 24px;
	height: 24px;
}

.svg-ellipse {
	@extend %svg-common;
	background-position: 94.64285714285714% 91.42857142857143%;
}

.svg-ellipse-dims {
	width: 6px;
	height: 6px;
}

.svg-ellipse-empty {
	@extend %svg-common;
	background-position: 100% 88.88888888888889%;
}

.svg-ellipse-empty-dims {
	width: 24px;
	height: 24px;
}

.svg-ellipse-selected {
	@extend %svg-common;
	background-position: 100% 64.64646464646465%;
}

.svg-ellipse-selected-dims {
	width: 24px;
	height: 24px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 91.86440677966101% 17.153284671532848%;
}

.svg-facebook-dims {
	width: 47px;
	height: 47px;
}

.svg-facebook-green-fill {
	@extend %svg-common;
	background-position: 15.932203389830509% 76.27737226277372%;
}

.svg-facebook-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-facebook-green-outline {
	@extend %svg-common;
	background-position: 0 76.27737226277372%;
}

.svg-facebook-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-facebook-white {
	@extend %svg-common;
	background-position: 47.79661016949152% 59.12408759124087%;
}

.svg-facebook-white-dims {
	width: 47px;
	height: 47px;
}

.svg-folder {
	@extend %svg-common;
	background-position: 45.962732919254655% 31.683168316831683%;
}

.svg-folder-dims {
	width: 20px;
	height: 18px;
}

.svg-folder-blue {
	@extend %svg-common;
	background-position: 39.75155279503105% 31.683168316831683%;
}

.svg-folder-blue-dims {
	width: 20px;
	height: 18px;
}

.svg-info {
	@extend %svg-common;
	background-position: 58.38509316770186% 62.458471760797345%;
}

.svg-info-dims {
	width: 20px;
	height: 20px;
}

.svg-insights-article {
	@extend %svg-common;
	background-position: 51.973684210526315% 90.45936395759718%;
}

.svg-insights-article-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-article-hover {
	@extend %svg-common;
	background-position: 64.47368421052632% 90.45936395759718%;
}

.svg-insights-article-hover-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-audio {
	@extend %svg-common;
	background-position: 26.973684210526315% 90.45936395759718%;
}

.svg-insights-audio-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-audio-hover {
	@extend %svg-common;
	background-position: 89.47368421052632% 90.45936395759718%;
}

.svg-insights-audio-hover-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-video {
	@extend %svg-common;
	background-position: 76.97368421052632% 90.45936395759718%;
}

.svg-insights-video-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-video-hover {
	@extend %svg-common;
	background-position: 39.473684210526315% 90.45936395759718%;
}

.svg-insights-video-hover-dims {
	width: 38px;
	height: 38px;
}

.svg-linkedin {
	@extend %svg-common;
	background-position: 91.86440677966101% 34.306569343065696%;
}

.svg-linkedin-dims {
	width: 47px;
	height: 47px;
}

.svg-linkedin-green-fill {
	@extend %svg-common;
	background-position: 31.864406779661017% 59.12408759124087%;
}

.svg-linkedin-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-linkedin-green-outline {
	@extend %svg-common;
	background-position: 91.86440677966101% 0;
}

.svg-linkedin-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-linkedin-white {
	@extend %svg-common;
	background-position: 63.728813559322035% 76.27737226277372%;
}

.svg-linkedin-white-dims {
	width: 47px;
	height: 47px;
}

.svg-listen {
	@extend %svg-common;
	background-position: 7.547169811320755% 100%;
}

.svg-listen-dims {
	width: 24px;
	height: 24px;
}

.svg-listen-blue {
	@extend %svg-common;
	background-position: 100% 8.080808080808081%;
}

.svg-listen-blue-dims {
	width: 24px;
	height: 24px;
}

.svg-mail-green-fill {
	@extend %svg-common;
	background-position: 47.79661016949152% 76.27737226277372%;
}

.svg-mail-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-mail-green-outline {
	@extend %svg-common;
	background-position: 31.864406779661017% 76.27737226277372%;
}

.svg-mail-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-map-icon {
	@extend %svg-common;
	background-position: 100% 32.323232323232325%;
}

.svg-map-icon-dims {
	width: 24px;
	height: 24px;
}

.svg-search {
	@extend %svg-common;
	background-position: 59.49367088607595% 54.91525423728814%;
}

.svg-search-dims {
	width: 26px;
	height: 26px;
}

.svg-search-blue {
	@extend %svg-common;
	background-position: 74.36708860759494% 70.84745762711864%;
}

.svg-search-blue-dims {
	width: 26px;
	height: 26px;
}

.svg-search-icon {
	@extend %svg-common;
	background-position: 90.03322259136213% 50.357142857142854%;
}

.svg-search-icon-dims {
	width: 41px;
	height: 41px;
}

.svg-search-icon-hover {
	@extend %svg-common;
	background-position: 90.03322259136213% 65%;
}

.svg-search-icon-hover-dims {
	width: 41px;
	height: 41px;
}

.svg-search-type-all {
	@extend %svg-common;
	background-position: 100% 72.72727272727273%;
}

.svg-search-type-all-dims {
	width: 24px;
	height: 24px;
}

.svg-search-type-insights {
	@extend %svg-common;
	background-position: 100% 80.8080808080808%;
}

.svg-search-type-insights-dims {
	width: 24px;
	height: 24px;
}

.svg-search-type-people {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-search-type-people-dims {
	width: 24px;
	height: 24px;
}

.svg-search-type-strategies {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-search-type-strategies-dims {
	width: 24px;
	height: 24px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 75.9322033898305% 51.45985401459854%;
}

.svg-twitter-dims {
	width: 47px;
	height: 47px;
}

.svg-twitter-green-fill {
	@extend %svg-common;
	background-position: 75.9322033898305% 34.306569343065696%;
}

.svg-twitter-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-twitter-green-outline {
	@extend %svg-common;
	background-position: 75.9322033898305% 17.153284671532848%;
}

.svg-twitter-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-twitter-white {
	@extend %svg-common;
	background-position: 59.66101694915254% 17.51824817518248%;
}

.svg-twitter-white-dims {
	width: 47px;
	height: 47px;
}

.svg-user {
	@extend %svg-common;
	background-position: 0 91.42857142857143%;
}

.svg-user-dims {
	width: 41px;
	height: 41px;
}

.svg-user-hover {
	@extend %svg-common;
	background-position: 13.621262458471762% 91.42857142857143%;
}

.svg-user-hover-dims {
	width: 41px;
	height: 41px;
}

.svg-video-close {
	@extend %svg-common;
	background-position: 0 23.616236162361623%;
}

.svg-video-close-dims {
	width: 50px;
	height: 50px;
}

.svg-video-play {
	@extend %svg-common;
	background-position: 23.02158273381295% 0;
}

.svg-video-play-dims {
	width: 64px;
	height: 64px;
}

.svg-video-play-green {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-video-play-green-dims {
	width: 64px;
	height: 64px;
}

.svg-view-all-blue {
	@extend %svg-common;
	background-position: 29.780564263322884% 99.66442953020135%;
}

.svg-view-all-blue-dims {
	width: 23px;
	height: 23px;
}

.svg-view-all-green {
	@extend %svg-common;
	background-position: 22.570532915360502% 99.66442953020135%;
}

.svg-view-all-green-dims {
	width: 23px;
	height: 23px;
}

.svg-youtube {
	@extend %svg-common;
	background-position: 0 59.12408759124087%;
}

.svg-youtube-dims {
	width: 47px;
	height: 47px;
}

.svg-youtube-green-fill {
	@extend %svg-common;
	background-position: 59.66101694915254% 34.67153284671533%;
}

.svg-youtube-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-youtube-green-outline {
	@extend %svg-common;
	background-position: 75.9322033898305% 0;
}

.svg-youtube-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-youtube-white {
	@extend %svg-common;
	background-position: 15.932203389830509% 59.12408759124087%;
}

.svg-youtube-white-dims {
	width: 47px;
	height: 47px;
}

