%svg-common {
	background: url("svg/sprite.css-0c943133.svg") no-repeat;
}

.svg-archived-memo {
	@extend %svg-common;
	background-position: 93.31103678929766% 26.181818181818183%;
}

.svg-archived-memo-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-down {
	@extend %svg-common;
	background-position: 98.6970684039088% 25.441696113074205%;
}

.svg-arrow-down-dims {
	width: 16px;
	height: 16px;
}

.svg-arrow-down-blue {
	@extend %svg-common;
	background-position: 99.34426229508196% 13.523131672597865%;
}

.svg-arrow-down-blue-dims {
	width: 18px;
	height: 18px;
}

.svg-arrow-down-green {
	@extend %svg-common;
	background-position: 99.34426229508196% 7.117437722419929%;
}

.svg-arrow-down-green-dims {
	width: 18px;
	height: 18px;
}

.svg-arrow-left-black {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-arrow-left-black-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-left-green {
	@extend %svg-common;
	background-position: 17.454545454545453% 0;
}

.svg-arrow-left-green-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-left-white {
	@extend %svg-common;
	background-position: 0 19.12350597609562%;
}

.svg-arrow-left-white-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-black {
	@extend %svg-common;
	background-position: 17.454545454545453% 19.12350597609562%;
}

.svg-arrow-right-black-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-green {
	@extend %svg-common;
	background-position: 34.90909090909091% 0;
}

.svg-arrow-right-green-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-white {
	@extend %svg-common;
	background-position: 34.90909090909091% 19.12350597609562%;
}

.svg-arrow-right-white-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-up {
	@extend %svg-common;
	background-position: 98.6970684039088% 19.78798586572438%;
}

.svg-arrow-up-dims {
	width: 16px;
	height: 16px;
}

.svg-burger {
	@extend %svg-common;
	background-position: 60.40268456375839% 83.74558303886926%;
}

.svg-burger-dims {
	width: 25px;
	height: 16px;
}

.svg-checkbox {
	@extend %svg-common;
	background-position: 71.61716171617162% 75.26881720430107%;
}

.svg-checkbox-dims {
	width: 20px;
	height: 20px;
}

.svg-checkbox-checked {
	@extend %svg-common;
	background-position: 71.61716171617162% 68.10035842293907%;
}

.svg-checkbox-checked-dims {
	width: 20px;
	height: 20px;
}

.svg-chevron {
	@extend %svg-common;
	background-position: 93.31103678929766% 52.36363636363637%;
}

.svg-chevron-dims {
	width: 24px;
	height: 24px;
}

.svg-chevron-green {
	@extend %svg-common;
	background-position: 93.31103678929766% 69.81818181818181%;
}

.svg-chevron-green-dims {
	width: 24px;
	height: 24px;
}

.svg-close {
	@extend %svg-common;
	background-position: 33.44709897610922% 88.10408921933086%;
}

.svg-close-dims {
	width: 30px;
	height: 30px;
}

.svg-close-black {
	@extend %svg-common;
	background-position: 23.208191126279864% 88.10408921933086%;
}

.svg-close-black-dims {
	width: 30px;
	height: 30px;
}

.svg-close-blue {
	@extend %svg-common;
	background-position: 12.969283276450511% 88.10408921933086%;
}

.svg-close-blue-dims {
	width: 30px;
	height: 30px;
}

.svg-download {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-download-dims {
	width: 24px;
	height: 24px;
}

.svg-ellipse {
	@extend %svg-common;
	background-position: 95.58359621451105% 30.034129692832764%;
}

.svg-ellipse-dims {
	width: 6px;
	height: 6px;
}

.svg-ellipse-empty {
	@extend %svg-common;
	background-position: 93.31103678929766% 43.63636363636363%;
}

.svg-ellipse-empty-dims {
	width: 24px;
	height: 24px;
}

.svg-ellipse-selected {
	@extend %svg-common;
	background-position: 93.31103678929766% 34.90909090909091%;
}

.svg-ellipse-selected-dims {
	width: 24px;
	height: 24px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 69.20289855072464% 0;
}

.svg-facebook-dims {
	width: 47px;
	height: 47px;
}

.svg-facebook-green-fill {
	@extend %svg-common;
	background-position: 52.17391304347826% 37.301587301587304%;
}

.svg-facebook-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-facebook-green-outline {
	@extend %svg-common;
	background-position: 52.17391304347826% 18.650793650793652%;
}

.svg-facebook-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-facebook-white {
	@extend %svg-common;
	background-position: 17.028985507246375% 75.39682539682539%;
}

.svg-facebook-white-dims {
	width: 47px;
	height: 47px;
}

.svg-folder {
	@extend %svg-common;
	background-position: 23.102310231023104% 97.86476868327402%;
}

.svg-folder-dims {
	width: 20px;
	height: 18px;
}

.svg-info {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-info-dims {
	width: 20px;
	height: 20px;
}

.svg-insights-article {
	@extend %svg-common;
	background-position: 83.50877192982456% 59.38697318007663%;
}

.svg-insights-article-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-article-hover {
	@extend %svg-common;
	background-position: 83.50877192982456% 15.708812260536398%;
}

.svg-insights-article-hover-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-audio {
	@extend %svg-common;
	background-position: 0 90.80459770114942%;
}

.svg-insights-audio-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-audio-hover {
	@extend %svg-common;
	background-position: 83.50877192982456% 73.9463601532567%;
}

.svg-insights-audio-hover-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-video {
	@extend %svg-common;
	background-position: 83.50877192982456% 44.827586206896555%;
}

.svg-insights-video-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-video-hover {
	@extend %svg-common;
	background-position: 83.50877192982456% 30.268199233716476%;
}

.svg-insights-video-hover-dims {
	width: 38px;
	height: 38px;
}

.svg-linkedin {
	@extend %svg-common;
	background-position: 69.20289855072464% 18.650793650793652%;
}

.svg-linkedin-dims {
	width: 47px;
	height: 47px;
}

.svg-linkedin-green-fill {
	@extend %svg-common;
	background-position: 0 75.39682539682539%;
}

.svg-linkedin-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-linkedin-green-outline {
	@extend %svg-common;
	background-position: 69.20289855072464% 55.95238095238095%;
}

.svg-linkedin-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-linkedin-white {
	@extend %svg-common;
	background-position: 69.20289855072464% 37.301587301587304%;
}

.svg-linkedin-white-dims {
	width: 47px;
	height: 47px;
}

.svg-listen {
	@extend %svg-common;
	background-position: 93.31103678929766% 8.727272727272727%;
}

.svg-listen-dims {
	width: 24px;
	height: 24px;
}

.svg-map-icon {
	@extend %svg-common;
	background-position: 93.31103678929766% 17.454545454545453%;
}

.svg-map-icon-dims {
	width: 24px;
	height: 24px;
}

.svg-search {
	@extend %svg-common;
	background-position: 43.0976430976431% 86.81318681318682%;
}

.svg-search-dims {
	width: 26px;
	height: 26px;
}

.svg-search-blue {
	@extend %svg-common;
	background-position: 51.851851851851855% 86.81318681318682%;
}

.svg-search-blue-dims {
	width: 26px;
	height: 26px;
}

.svg-search-icon {
	@extend %svg-common;
	background-position: 33.333333333333336% 73.64341085271317%;
}

.svg-search-icon-dims {
	width: 41px;
	height: 41px;
}

.svg-search-icon-hover {
	@extend %svg-common;
	background-position: 47.87234042553192% 73.64341085271317%;
}

.svg-search-icon-hover-dims {
	width: 41px;
	height: 41px;
}

.svg-search-type-all {
	@extend %svg-common;
	background-position: 93.31103678929766% 61.09090909090909%;
}

.svg-search-type-all-dims {
	width: 24px;
	height: 24px;
}

.svg-search-type-insights {
	@extend %svg-common;
	background-position: 93.31103678929766% 0;
}

.svg-search-type-insights-dims {
	width: 24px;
	height: 24px;
}

.svg-search-type-people {
	@extend %svg-common;
	background-position: 93.31103678929766% 78.54545454545455%;
}

.svg-search-type-people-dims {
	width: 24px;
	height: 24px;
}

.svg-search-type-strategies {
	@extend %svg-common;
	background-position: 93.31103678929766% 87.27272727272727%;
}

.svg-search-type-strategies-dims {
	width: 24px;
	height: 24px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 51.08695652173913% 56.74603174603175%;
}

.svg-twitter-dims {
	width: 47px;
	height: 47px;
}

.svg-twitter-green-fill {
	@extend %svg-common;
	background-position: 34.05797101449275% 56.74603174603175%;
}

.svg-twitter-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-twitter-green-outline {
	@extend %svg-common;
	background-position: 0 38.095238095238095%;
}

.svg-twitter-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-twitter-white {
	@extend %svg-common;
	background-position: 0 56.74603174603175%;
}

.svg-twitter-white-dims {
	width: 47px;
	height: 47px;
}

.svg-user {
	@extend %svg-common;
	background-position: 62.4113475177305% 73.64341085271317%;
}

.svg-user-dims {
	width: 41px;
	height: 41px;
}

.svg-user-hover {
	@extend %svg-common;
	background-position: 84.39716312056737% 0;
}

.svg-user-hover-dims {
	width: 41px;
	height: 41px;
}

.svg-view-all-blue {
	@extend %svg-common;
	background-position: 8% 99.6376811594203%;
}

.svg-view-all-blue-dims {
	width: 23px;
	height: 23px;
}

.svg-view-all-green {
	@extend %svg-common;
	background-position: 15.666666666666666% 99.6376811594203%;
}

.svg-view-all-green-dims {
	width: 23px;
	height: 23px;
}

.svg-youtube {
	@extend %svg-common;
	background-position: 52.17391304347826% 0;
}

.svg-youtube-dims {
	width: 47px;
	height: 47px;
}

.svg-youtube-green-fill {
	@extend %svg-common;
	background-position: 34.05797101449275% 38.095238095238095%;
}

.svg-youtube-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-youtube-green-outline {
	@extend %svg-common;
	background-position: 17.028985507246375% 56.74603174603175%;
}

.svg-youtube-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-youtube-white {
	@extend %svg-common;
	background-position: 17.028985507246375% 38.095238095238095%;
}

.svg-youtube-white-dims {
	width: 47px;
	height: 47px;
}

