%svg-common {
	background: url("svg/sprite.css-9cb54b4e.svg") no-repeat;
}

.svg-archived-memo {
	@extend %svg-common;
	background-position: 92.73927392739274% 32.37410071942446%;
}

.svg-archived-memo-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-down {
	@extend %svg-common;
	background-position: 98.71382636655949% 25.174825174825173%;
}

.svg-arrow-down-dims {
	width: 16px;
	height: 16px;
}

.svg-arrow-down-blue {
	@extend %svg-common;
	background-position: 99.35275080906149% 13.380281690140846%;
}

.svg-arrow-down-blue-dims {
	width: 18px;
	height: 18px;
}

.svg-arrow-down-green {
	@extend %svg-common;
	background-position: 99.35275080906149% 7.042253521126761%;
}

.svg-arrow-down-green-dims {
	width: 18px;
	height: 18px;
}

.svg-arrow-left-black {
	@extend %svg-common;
	background-position: 17.921146953405017% 0;
}

.svg-arrow-left-black-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-left-green {
	@extend %svg-common;
	background-position: 0 19.68503937007874%;
}

.svg-arrow-left-green-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-left-white {
	@extend %svg-common;
	background-position: 17.204301075268816% 19.68503937007874%;
}

.svg-arrow-left-white-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-black {
	@extend %svg-common;
	background-position: 35.12544802867384% 0;
}

.svg-arrow-right-black-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-green {
	@extend %svg-common;
	background-position: 35.12544802867384% 18.89763779527559%;
}

.svg-arrow-right-green-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-right-white {
	@extend %svg-common;
	background-position: 0 38.58267716535433%;
}

.svg-arrow-right-white-dims {
	width: 48px;
	height: 48px;
}

.svg-arrow-up {
	@extend %svg-common;
	background-position: 98.71382636655949% 19.58041958041958%;
}

.svg-arrow-up-dims {
	width: 16px;
	height: 16px;
}

.svg-burger {
	@extend %svg-common;
	background-position: 93.04635761589404% 9.090909090909092%;
}

.svg-burger-dims {
	width: 25px;
	height: 16px;
}

.svg-checkbox {
	@extend %svg-common;
	background-position: 38.43648208469055% 98.58156028368795%;
}

.svg-checkbox-dims {
	width: 20px;
	height: 20px;
}

.svg-checkbox-checked {
	@extend %svg-common;
	background-position: 91.53094462540717% 91.48936170212765%;
}

.svg-checkbox-checked-dims {
	width: 20px;
	height: 20px;
}

.svg-chevron {
	@extend %svg-common;
	background-position: 15.841584158415841% 100%;
}

.svg-chevron-dims {
	width: 24px;
	height: 24px;
}

.svg-chevron-green {
	@extend %svg-common;
	background-position: 92.73927392739274% 84.1726618705036%;
}

.svg-chevron-green-dims {
	width: 24px;
	height: 24px;
}

.svg-close {
	@extend %svg-common;
	background-position: 71.38047138047138% 88.23529411764706%;
}

.svg-close-dims {
	width: 30px;
	height: 30px;
}

.svg-close-black {
	@extend %svg-common;
	background-position: 61.27946127946128% 88.23529411764706%;
}

.svg-close-black-dims {
	width: 30px;
	height: 30px;
}

.svg-close-blue {
	@extend %svg-common;
	background-position: 51.178451178451176% 88.23529411764706%;
}

.svg-close-blue-dims {
	width: 30px;
	height: 30px;
}

.svg-download {
	@extend %svg-common;
	background-position: 92.73927392739274% 49.64028776978417%;
}

.svg-download-dims {
	width: 24px;
	height: 24px;
}

.svg-ellipse {
	@extend %svg-common;
	background-position: 95.6386292834891% 29.72972972972973%;
}

.svg-ellipse-dims {
	width: 6px;
	height: 6px;
}

.svg-ellipse-empty {
	@extend %svg-common;
	background-position: 7.920792079207921% 100%;
}

.svg-ellipse-empty-dims {
	width: 24px;
	height: 24px;
}

.svg-ellipse-selected {
	@extend %svg-common;
	background-position: 92.73927392739274% 41.007194244604314%;
}

.svg-ellipse-selected-dims {
	width: 24px;
	height: 24px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 33.57142857142857% 75.68627450980392%;
}

.svg-facebook-dims {
	width: 47px;
	height: 47px;
}

.svg-facebook-green-fill {
	@extend %svg-common;
	background-position: 50.357142857142854% 75.68627450980392%;
}

.svg-facebook-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-facebook-green-outline {
	@extend %svg-common;
	background-position: 68.92857142857143% 36.86274509803921%;
}

.svg-facebook-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-facebook-white {
	@extend %svg-common;
	background-position: 68.92857142857143% 18.431372549019606%;
}

.svg-facebook-white-dims {
	width: 47px;
	height: 47px;
}

.svg-folder {
	@extend %svg-common;
	background-position: 44.95114006514658% 97.88732394366197%;
}

.svg-folder-dims {
	width: 20px;
	height: 18px;
}

.svg-info {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-info-dims {
	width: 20px;
	height: 20px;
}

.svg-insights-article {
	@extend %svg-common;
	background-position: 83.04498269896193% 62.121212121212125%;
}

.svg-insights-article-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-article-hover {
	@extend %svg-common;
	background-position: 83.04498269896193% 76.51515151515152%;
}

.svg-insights-article-hover-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-audio {
	@extend %svg-common;
	background-position: 0 90.9090909090909%;
}

.svg-insights-audio-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-audio-hover {
	@extend %svg-common;
	background-position: 13.14878892733564% 90.9090909090909%;
}

.svg-insights-audio-hover-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-video {
	@extend %svg-common;
	background-position: 26.29757785467128% 90.9090909090909%;
}

.svg-insights-video-dims {
	width: 38px;
	height: 38px;
}

.svg-insights-video-hover {
	@extend %svg-common;
	background-position: 39.44636678200692% 90.9090909090909%;
}

.svg-insights-video-hover-dims {
	width: 38px;
	height: 38px;
}

.svg-linkedin {
	@extend %svg-common;
	background-position: 67.14285714285714% 75.68627450980392%;
}

.svg-linkedin-dims {
	width: 47px;
	height: 47px;
}

.svg-linkedin-green-fill {
	@extend %svg-common;
	background-position: 52.142857142857146% 36.86274509803921%;
}

.svg-linkedin-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-linkedin-green-outline {
	@extend %svg-common;
	background-position: 0 57.254901960784316%;
}

.svg-linkedin-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-linkedin-white {
	@extend %svg-common;
	background-position: 16.785714285714285% 75.68627450980392%;
}

.svg-linkedin-white-dims {
	width: 47px;
	height: 47px;
}

.svg-listen {
	@extend %svg-common;
	background-position: 92.73927392739274% 58.273381294964025%;
}

.svg-listen-dims {
	width: 24px;
	height: 24px;
}

.svg-mail-green-fill {
	@extend %svg-common;
	background-position: 0 75.68627450980392%;
}

.svg-mail-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-mail-green-outline {
	@extend %svg-common;
	background-position: 68.92857142857143% 55.294117647058826%;
}

.svg-mail-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-map-icon {
	@extend %svg-common;
	background-position: 92.73927392739274% 23.741007194244606%;
}

.svg-map-icon-dims {
	width: 24px;
	height: 24px;
}

.svg-search {
	@extend %svg-common;
	background-position: 80.39867109634551% 86.95652173913044%;
}

.svg-search-dims {
	width: 26px;
	height: 26px;
}

.svg-search-blue {
	@extend %svg-common;
	background-position: 93.35548172757476% 0;
}

.svg-search-blue-dims {
	width: 26px;
	height: 26px;
}

.svg-search-icon {
	@extend %svg-common;
	background-position: 83.91608391608392% 0;
}

.svg-search-icon-dims {
	width: 41px;
	height: 41px;
}

.svg-search-icon-hover {
	@extend %svg-common;
	background-position: 83.91608391608392% 15.708812260536398%;
}

.svg-search-icon-hover-dims {
	width: 41px;
	height: 41px;
}

.svg-search-type-all {
	@extend %svg-common;
	background-position: 92.73927392739274% 66.90647482014388%;
}

.svg-search-type-all-dims {
	width: 24px;
	height: 24px;
}

.svg-search-type-insights {
	@extend %svg-common;
	background-position: 92.73927392739274% 75.53956834532374%;
}

.svg-search-type-insights-dims {
	width: 24px;
	height: 24px;
}

.svg-search-type-people {
	@extend %svg-common;
	background-position: 92.73927392739274% 15.107913669064748%;
}

.svg-search-type-people-dims {
	width: 24px;
	height: 24px;
}

.svg-search-type-strategies {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-search-type-strategies-dims {
	width: 24px;
	height: 24px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 68.92857142857143% 0;
}

.svg-twitter-dims {
	width: 47px;
	height: 47px;
}

.svg-twitter-green-fill {
	@extend %svg-common;
	background-position: 50.357142857142854% 57.254901960784316%;
}

.svg-twitter-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-twitter-green-outline {
	@extend %svg-common;
	background-position: 17.142857142857142% 38.431372549019606%;
}

.svg-twitter-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-twitter-white {
	@extend %svg-common;
	background-position: 16.785714285714285% 57.254901960784316%;
}

.svg-twitter-white-dims {
	width: 47px;
	height: 47px;
}

.svg-user {
	@extend %svg-common;
	background-position: 83.91608391608392% 31.417624521072796%;
}

.svg-user-dims {
	width: 41px;
	height: 41px;
}

.svg-user-hover {
	@extend %svg-common;
	background-position: 83.91608391608392% 47.12643678160919%;
}

.svg-user-hover-dims {
	width: 41px;
	height: 41px;
}

.svg-video-close {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-video-close-dims {
	width: 50px;
	height: 50px;
}

.svg-view-all-blue {
	@extend %svg-common;
	background-position: 23.68421052631579% 99.6415770609319%;
}

.svg-view-all-blue-dims {
	width: 23px;
	height: 23px;
}

.svg-view-all-green {
	@extend %svg-common;
	background-position: 31.25% 99.6415770609319%;
}

.svg-view-all-green-dims {
	width: 23px;
	height: 23px;
}

.svg-youtube {
	@extend %svg-common;
	background-position: 52.142857142857146% 0;
}

.svg-youtube-dims {
	width: 47px;
	height: 47px;
}

.svg-youtube-green-fill {
	@extend %svg-common;
	background-position: 33.92857142857143% 38.431372549019606%;
}

.svg-youtube-green-fill-dims {
	width: 47px;
	height: 47px;
}

.svg-youtube-green-outline {
	@extend %svg-common;
	background-position: 33.57142857142857% 57.254901960784316%;
}

.svg-youtube-green-outline-dims {
	width: 47px;
	height: 47px;
}

.svg-youtube-white {
	@extend %svg-common;
	background-position: 52.142857142857146% 18.431372549019606%;
}

.svg-youtube-white-dims {
	width: 47px;
	height: 47px;
}

