@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

ol {
	list-style: none !important;
	padding: 0 !important;
}

.timeline-Widget {
	background: #f1f1f1 !important;
}

.timeline-TweetList-tweet .timeline-Tweet {
	display: flex !important;
	flex-direction: column !important;
	padding: 30px 0 !important;
}

.timeline-Header,
.timeline-Tweet-brand,
.timeline-Tweet-author,
.timeline-Tweet-actions {
	display: none !important;
}

.timeline-Tweet-text,
.timeline-Tweet-media,
.timeline-Tweet-actions {
	margin-left: 0 !important;
}

.timeline-Tweet-metadata {
	float: none !important;
	order: -1 !important;
}

.timeline-Tweet:hover {
	background: transparent !important;
}

.timeline-Body,
.timeline-NewTweetsNotification {
	border-top: 0 none !important;
}

.timeline-TweetList-tweet {
	border-top: 2px solid #fff !important;

	&:first-child {
		border-top: 0 none !important;
		.timeline-Tweet  {
			padding-top: 0 !important;
		}
	}
}

.timeline-Tweet-text {
	color: #000 !important;
	font-family: Raleway, sans-serif !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 15px !important;
	line-height: 22px !important;
	white-space: initial !important;
}

.timeline-Tweet-timestamp a {
	text-decoration: none !important;
}

.NaturalImage-image {
	max-width: 100% !important;
}

.js-interstitial {
	display: none !important;
}

.MediaCard-mediaContainer {
	padding-bottom: 0 !important;
}

.timeline-Footer,
.timeline-LoadMore,
.timeline-NewTweetsNotification {
	display: none !important;
}

.timeline-Tweet-metadata time {
	color: #979797 !important;
	font-family: Raleway, sans-serif !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 11px !important;
	line-height: 25px !important;
	letter-spacing: 0.165em !important;
	text-transform: uppercase !important;
}

a {
	color: #388067 !important;
}

.Icon--retweetBadge {
	background: transparent url('../images/retweet.svg') no-repeat center center / 17px 17px !important;
	transform: scale(-1, 1) !important;
}

.timeline-Tweet-retweetCredit {
	margin-left: 0 !important;
	order: -1 !important;

	color: #979797 !important;
	font-family: Raleway, sans-serif !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 11px !important;
	line-height: 25px !important;
	letter-spacing: 0.165em !important;
	text-transform: uppercase !important;
}

.TwitterCard .SummaryCard-image {
	border-radius: 10px 0px 0px 10px !important;
	width: 79px !important;
	height: 68px !important;
	float: left !important;
}

.tcu-imageContainer {
	height: 100% !important;
}

.TwitterCard .SummaryCard-content .TwitterCard-title {
	max-height: none !important;
	white-space: normal !important;
	overflow: visible !important;
	text-overflow: unset !important;
	margin-bottom: 5px !important;

	color: #000 !important;
	font-family: Raleway, sans-serif !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 12px !important;
	line-height: 14px !important;
}


.TwitterCard .SummaryCard-destination {
	background: transparent url('../images/links.svg') no-repeat left center / 16px 16px !important;

	padding-left: 20px !important;

	color: #000 !important;
	font-family: Raleway, sans-serif !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 12px !important;
	line-height: 14px !important;
}

.TwitterCardsGrid .TwitterCardsGrid-col--12.SummaryCard-contentContainer {
	width: 203px !important;
	clear: none !important;
}

.TwitterCard-container {
	border-color: #aaa !important;
}

.TwitterCard .SummaryCard--large .SummaryCard-content {
	padding: 9px 7px !important;
}

.timeline-Viewport {
	overflow: visible !important;
}